.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 14rem;
    height: 16rem;
    background-color: rgb(247, 243, 243);
    background-image: url(/src/assets/Ellipse\ 3.svg), url(/src/assets/Ellipse\ 2.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right bottom;
    border-radius: 10px;
    text-align: center;
    box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.192);
}